<!doctype html><html><head><meta charset=utf8>
  <!--
    library Vue JS
    - development version
    - production version
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!--CSS-->
  <style>
    body {
      margin-right:100px;
      margin-left:100px;
    }
    button.btn_veure_sensor {
      padding:1em 1.62em;
      margin-right:0.62em
    }
  </style>

  <script>
    //FILTRA
    let wid="272b";

    let payloads=[]; //tots els payloads

    //evita cache (https://stackoverflow.com/questions/29246444/fetch-how-do-you-make-a-non-cached-request)
    let myHeaders=new Headers();
    myHeaders.append('pragma', 'no-cache');
    myHeaders.append('cache-control', 'no-cache');
    let myInit={
      method:'GET',
      headers:myHeaders,
    }
    let myRequest=new Request('data.js');

    //fetch data.js
    fetch(myRequest,myInit).then(response=>
      response.json()
    ).then(jsonResponse=>{
      jsonResponse.list.forEach(du=>{
        let payload = parse_payload(du.payload);
        payload.recvTime = new Date(du.recvTime);
        //console.log(payload);
        if(payload.wid){
          payloads.push(payload);
        }
      });
    });

    //parseja payloads
    function parse_payload(payload){
      let json_string="";
      for(let i=0;i<payload.length;i+=2){
        let substring = payload.substring(i,2+i);
        json_string += String.fromCharCode(parseInt("0x"+substring));
      }
      json_string = json_string.replace('wid:','"wid":');
      json_string = json_string.replace(',T:',',"T":');
      json_string = json_string.replace(',cso:',',"cso":');
      json_string = json_string.replace(',bat:',',"bat":');
      json_string = json_string.replace(',tx:',',"tx":');
      json_string = json_string.replace(',d:',',"d":');
      let json_obj = JSON.parse(json_string);
      return json_obj;
    }
  </script>
</head><body>

<!--logos top-->
<div id=logos>
  <div><img src="img/gestor.jpg" style="width:40%"></div>
  <div><img src="img/icra.png"   style="width:20%"></div>
  <div><img src="img/dwc.jpg"    style="width:60%"></div>

  <style>
    #logos{
      display:flex;
      justify-content:space-between;
    }
  </style>
</div>

<!--titol--><h1 style="text-align:center">Sensors temperatura</h1>

<!--dades crues-->
<div id=app>
  <!--canviar sensor-->
  <div style="text-align:center;font-size:large">
    Veure sensor:
    <button
      v-for="wid in wids"
      @click="wid_filtra=wid;drawChart()"
      :style="wid_filtra==wid ? 'font-weight:bold' :''"
      class=btn_veure_sensor
    >{{wid}}
    </button>
  </div>

  <!--grafic div-->
  <div id="chart"></div>

  <!--dades crues-->
  <table border=1 style="border-collapse:collapse;margin-top:10px">
    <thead>
      <tr>
        <th>nº
        <th>wid
        <th>T1 (ºC)
        <th>T2 (ºC)
        <th>T3 (ºC)
        <th>cso
        <th>d (cm)
        <th>batt (%)
        <th>tx
        <th>recvTime
      </tr>
    </thead>
    <tbody>
      <tr v-for="payload,i in payloads.filter(p=>p.wid==wid_filtra)">
        <td>{{i}}
        <td>{{payload.wid}}
        <td>{{payload.T[0]}}
        <td>{{payload.T[1]}}
        <td>{{payload.T[2]}}
        <td>{{payload.cso}}
        <td>{{payload.d}}
        <td>{{payload.bat}}
        <td>{{payload.tx}}
        <td>{{payload.recvTime.toString()}}
      </tr>
    </tbody>
  </table>
</div>

<!--chart-->
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  google.charts.load('current', {'packages':['annotationchart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart(){
    let DATA=[
      ['Temps', "T1", "T2", "T3"],
    ];

    payloads.forEach(payload=>{
      if(payload.wid==app.wid_filtra){
        DATA.push([
          payload.recvTime,
          payload.T[0],
          payload.T[1],
          payload.T[2],
        ]);
      }
    });

    let data=google.visualization.arrayToDataTable(DATA);
    let options={
      colors:['blue','green','red'],
      hAxis:{title:'Temps',},
      height:"500",
      legend:"bottom",
      max:25,
      min:10,
      title:'Temperatura vs temps',
      vAxis:{title:'ºC',},
      width:"75%",
    };
    let el=document.querySelector("#chart");
    let chart = new google.visualization.AnnotationChart(el);
    chart.draw(data,options);
  }
</script>

<!--vue-->
<script>
  let app = new Vue({
    el:"#app",
    data:{
      payloads,
      wids:["272b","6d31"],
      wid_filtra:"272b", //valor inicial
    },
    methods:{
      drawChart,
    },
  });
</script>
